@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<ShareResources> ShareLocalizer

@{
    ViewData["Title"] = Localizer["Mark Paper"];
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}

<style>
    .esf-window .esf-window-container .esf-window-header {
        background: #2A3F54;
    }
</style>

<div class="wrapper wrapper-content" id="app">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>@ShareLocalizer["Mark Paper"]</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="form-group">
                @ShareLocalizer["Keyword"]：
                <input type="text" class="form-control input-sm"
                       style="width: 10%; display: inline-block" v-model="keyword" />
                @ShareLocalizer["Subject"]：
                <select class="form-control input-sm" style="width: 10%; display: inline-block"
                        v-model="subjectId">
                    <option v-for="x in subjects" :value="x.Id">{{x.Title}}</option>
                </select>
                <button type="button" class="btn btn-default " @@click="getData()">
                    <i class="fa fa-search"></i>&nbsp;@ShareLocalizer["Search"]
                </button>

                <button type="button" class="btn btn-info" @@click="markPaper()">
                    <i class="fa fa-pencil"></i> @ShareLocalizer["Mark Paper"]
                </button>
            </div>

            <div class="jqGrid_wrapper">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@ShareLocalizer["No"]</th>
                            <th>@ShareLocalizer["Title"]</th>
                            <th>@ShareLocalizer["Subject"]</th>
                            <th>@ShareLocalizer["User Name"]</th>
                            <th>@ShareLocalizer["Employee No"]</th>
                            <th>@ShareLocalizer["Status"]</th>
                            <th>@ShareLocalizer["Score"]</th>
                            <th>@ShareLocalizer["Test Time"]</th>
                            <th>@ShareLocalizer["Update Time"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, i) in tableData">
                            <td><input type="checkbox" v-model="item.checked" /></td>
                            <td>{{(pagerOpt.page - 1) * pagerOpt.pageSize + i + 1}}</td>
                            <td>{{item.Title}}</td>
                            <td>{{item.Subject}}</td>
                            <td>{{item.UserName}}</td>
                            <td>{{item.EmployeeNo}}</td>
                            <td>{{item.Status == 1 ? '@ShareLocalizer["Marked"]' : '@ShareLocalizer["Unmarked"]'}}</td>
                            <td>{{item.Score}}</td>
                            <td>{{item.TestTime | dateFormat}}</td>
                            <td>{{item.UpdateTime | dateFormat}}</td>
                        </tr>
                    </tbody>
                </table>

                <pagination v-model="pagerOpt.page" :total="pagerOpt.total" :page-size="pagerOpt.pageSize"
                            @@input="pageChange()"></pagination>
            </div>
        </div>
    </div>

    <window-modal ref="markWin" :width="'900'">
        <template slot="header">
            @ShareLocalizer["Mark Paper"]
        </template>
        <template slot="body">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <h2 class="text-center">{{model.ExaminaonName}}</h2>
                    <hr />
                    <div class="panel-body">
                        <div class="col-md-3">
                            @ShareLocalizer["Subject"]：{{model.Subject}}
                        </div>
                        <div class="col-md-3">
                            @ShareLocalizer["User Name"]: {{model.UserName}}
                        </div>
                        <div class="col-md-3">
                            @ShareLocalizer["Employee No"]: {{model.EmployeeNo}}
                        </div>
                        <div class="col-md-3">
                            @ShareLocalizer["Score"]: <span style="color: red">{{Score}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-default space"
                     v-if="model.ChioceQuestions && model.ChioceQuestions.length > 0">
                    <div class="panel-heading">
                        <h3 class="panel-title">@ShareLocalizer["Choice"]</h3>
                    </div>
                    <div class="panel-body">
                        <ol>
                            <li v-for="item in model.ChioceQuestions">
                                <p class="question-content" v-html="item.Question.Content + ' <span>(' + item.Question.Score +'@ShareLocalizer["Points"])</span>'"></p>
                                <div class="inline-box">
                                    <input type="checkbox" name="choice-1" value="A">
                                    A. <span v-html="item.Question.OptionA"></span>
                                </div>
                                <div class="inline-box">
                                    <input type="checkbox" name="choice-2" value="B">
                                    B. <span v-html="item.Question.OptionB"></span>
                                </div>
                                <div class="inline-box">
                                    <input type="checkbox" name="choice-3" value="C">
                                    C. <span v-html="item.Question.OptionC"></span>
                                </div>
                                <div class="inline-box">
                                    <input type="checkbox" name="choice-4" value="D">
                                    D. <span v-html="item.Question.OptionD"></span>                                  
                                </div>
                                <div class="inline-box mark-answer">
                                    @ShareLocalizer["Correct Answer"]: {{item.Question.Answer}}
                                </div>
                                <div class="inline-box mark-answer">
                                    @ShareLocalizer["User Answer"]: {{item.Answer}}
                                </div>
                                <div class="inline-box mark-answer">
                                    @ShareLocalizer["Auto Marked"]:
                                    {{item.IsCorrect ? '@ShareLocalizer["Correct"]' : '@ShareLocalizer["Wrong"]'}}

                                    <div>
                                        <button type="button" class="btn btn-danger" @@click="mark(item, false)">
                                            <i class="fa fa-remove"></i>
                                            &nbsp;&nbsp;<span class="bold">@ShareLocalizer["Wrong"]</span>
                                        </button>
                                        <button type="button" class="btn btn-success" @@click="mark(item, true)">
                                            <i class="fa fa-check"></i>
                                            &nbsp;&nbsp;<span class="bold">@ShareLocalizer["Correct"]</span>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="panel panel-default space"
                     v-if="model.JudgmentQuestions && model.JudgmentQuestions.length > 0">
                    <div class="panel-heading">
                        <h3 class="panel-title">@ShareLocalizer["Judgment"]</h3>
                    </div>
                    <div class="panel-body">
                        <ol>
                            <li v-for="item in model.JudgmentQuestions">
                                <div class="inline-box">
                                    <p class="question-content" v-html="item.Question.Content + ' <span>(' + item.Question.Score +'@ShareLocalizer["Points"])</span>'"></p>
                                    <input type="radio" name="judgment-1" value="T">
                                    <span class="glyphicon glyphicon-ok" style="color: green"></span>
                                    <input type="radio" name="judgment-1" value="F">
                                    <span class="glyphicon glyphicon-remove" style="color: red"></span>
                                </div>

                                <div class="inline-box mark-answer">
                                    @ShareLocalizer["Correct Answer"]: {{item.Question.Answer}}
                                </div>
                                <div class="inline-box mark-answer">
                                    @ShareLocalizer["User Answer"]: {{item.Answer}}
                                </div>
                                <div class="inline-box mark-answer">
                                    @ShareLocalizer["Auto Marked"]:
                                    {{item.IsCorrect ? '@ShareLocalizer["Correct"]' : '@ShareLocalizer["Wrong"]'}}

                                    <div>
                                        <button type="button" class="btn btn-danger" @@click="mark(item, false)">
                                            <i class="fa fa-remove"></i>
                                            &nbsp;&nbsp;<span class="bold">@ShareLocalizer["Wrong"]</span>
                                        </button>
                                        <button type="button" class="btn btn-success" @@click="mark(item, true)">
                                            <i class="fa fa-check"></i>
                                            &nbsp;&nbsp;<span class="bold">@ShareLocalizer["Correct"]</span>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="panel panel-default space"
                     v-if="model.FillQuestions && model.FillQuestions.length > 0">
                    <div class="panel-heading">
                        <h3 class="panel-title">@ShareLocalizer["Fill"]</h3>
                    </div>
                    <div class="panel-body">
                        <ol>
                            <li v-for="item in model.FillQuestions" class="inline-box">
                                <p class="question-content" v-html="item.Question.Content + ' <span>(' + item.Question.Score +'@ShareLocalizer["Points"])</span>'"></p>

                                <div class="inline-box mark-answer">
                                    @ShareLocalizer["Correct Answer"]: {{item.Question.Answer}}
                                </div>
                                <div class="inline-box mark-answer">
                                    @ShareLocalizer["User Answer"]: {{item.Answer}}
                                </div>
                                <div class="inline-box mark-answer">
                                    @ShareLocalizer["Auto Marked"]:
                                    {{item.IsCorrect ? '@ShareLocalizer["Correct"]' : '@ShareLocalizer["Wrong"]'}}

                                    <div>
                                        <button type="button" class="btn btn-danger" @@click="mark(item, false)">
                                            <i class="fa fa-remove"></i>
                                            &nbsp;&nbsp;<span class="bold">@ShareLocalizer["Wrong"]</span>
                                        </button>
                                        <button type="button" class="btn btn-success" @@click="mark(item, true)">
                                            <i class="fa fa-check"></i>
                                            &nbsp;&nbsp;<span class="bold">@ShareLocalizer["Correct"]</span>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="panel panel-default space"
                     v-if="model.SubjectiveQuestions && model.SubjectiveQuestions.length > 0">
                    <div class="panel-heading">
                        <h3 class="panel-title">@ShareLocalizer["Q&A"]</h3>
                    </div>
                    <div class="panel-body">
                        <ol>
                            <li v-for="item in model.SubjectiveQuestions">
                                <p class="question-content" v-html="item.Question.Content + ' <span>(' + item.Question.Score +'@ShareLocalizer["Points"])</span>'">
                                </p>
                                <div class="inline-box mark-answer">
                                    @ShareLocalizer["Correct Answer"]: {{item.Question.Answer}}
                                </div>
                                <div class="inline-box mark-answer">
                                    @ShareLocalizer["User Answer"]: {{item.Answer}}
                                </div>
                                <div class="inline-box mark-answer">
                                    <template v-if="item.IsMark">
                                        @ShareLocalizer["Marked"]:
                                        {{item.IsCorrect ? '@ShareLocalizer["Correct"]' : '@ShareLocalizer["Wrong"]'}}
                                    </template>
                                    <template v-else>
                                        @ShareLocalizer["Unmarked"]:
                                    </template>
                                    <div>
                                        <button type="button" class="btn btn-danger" @@click="mark(item, false)">
                                            <i class="fa fa-remove"></i>
                                            &nbsp;&nbsp;<span class="bold">@ShareLocalizer["Wrong"]</span>
                                        </button>
                                        <button type="button" class="btn btn-success" @@click="mark(item, true)">
                                            <i class="fa fa-check"></i>
                                            &nbsp;&nbsp;<span class="bold">@ShareLocalizer["Correct"]</span>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="pull-right" style="color: red; margin-bottom: 15px;">
                    <b>@ShareLocalizer["Score"]: {{Score}}</b>
                </div>
            </div>
        </template>
        <template slot="footer">
            <button class="btn btn-success" @@click="submitMark()">@ShareLocalizer["Submit"]</button>
            <button class="btn btn-default" @@click="closeWin()">@ShareLocalizer["Cancel"]</button>
        </template>
    </window-modal>
</div>

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            tableData: [],
            subjects: [],

            pagerOpt: {
                pageSize: 10,
                page: 1,
                total: 0,
            },

            model: {
                ChioceQuestions: [],
                FillQuestions: [],
                JudgmentQuestions: [],
                SubjectiveQuestions: []
            },

            keyword: "",
            subjectId: 0
        },
        mounted() {
            this.getData();
            this.getSubjects();
        },
        computed: {
            Score() {
                return ((this.model || {}).ChioceQuestions || []).reduce((a, x) => a + x.Score, 0) +
                        ((this.model || {}).FillQuestions || []).reduce((a, x) => a + x.Score, 0) + 
                        ((this.model || {}).JudgmentQuestions || []).reduce((a, x) => a + x.Score, 0) +
                        ((this.model || {}).SubjectiveQuestions || []).reduce((a, x) => a + x.Score, 0);
            }
        },
        methods: {
            getData() {
                var params = `PageNo=${this.pagerOpt.page}&PageSize=${this.pagerOpt.pageSize}&Keyword=${this.keyword}&SubjectId=${this.subjectId}`
                _fetch("/Examination/GetExamResult?" + params, "GET").then(res => {
                    if (res.Status = true) {

                        res.Data.Result.filter(x => {
                            x.checked = false;
                            x.isEdit = false;
                        });
                        this.tableData = res.Data.Result;
                        this.pagerOpt.total = res.Data.Total;
                    }
                    else {
                        alert('@ShareLocalizer["An unexpected error has occurred, please try again."]');
                    }
                });
            },

            getSubjects() {
                _fetch("/Admin/GetAllSubjectsByUser", "GET").then(res => {
                    if (res.Status = true) {
                        this.subjects = res.Data.Result;
                    }
                    else {
                        alert('@ShareLocalizer["An unexpected error has occurred, please try again."]');
                    }
                });
            },

            closeWin() {
                this.$refs.markWin.close();
            },

            submitMark() {
                if (this.validData()) {
                    alert('@ShareLocalizer["Marked All"]')
                    return;
                }

                let questions = [];
                questions = questions.concat(this.model.ChioceQuestions);
                questions = questions.concat(this.model.FillQuestions);
                questions = questions.concat(this.model.JudgmentQuestions);
                questions = questions.concat(this.model.SubjectiveQuestions);

                let model = {
                    UserExamId: this.model.UserExamId,
                    Questions: questions
                };

                _fetch(`/Examination/MarkPaperAnswer`, "POST", model).then(res => {
                    if (res.Status = true) {
                        alert('@ShareLocalizer["Submit Success"]');
                        this.closeWin();
                        this.getData();
                    }
                    else {
                       alert('@ShareLocalizer["An unexpected error has occurred, please try again."]');
                    }
                });
            },

            validData() {
                return this.model.ChioceQuestions.some(x => !x.IsMark) || 
                    this.model.FillQuestions.some(x => !x.IsMark) ||
                    this.model.JudgmentQuestions.some(x => !x.IsMark) ||
                    this.model.SubjectiveQuestions.some(x => !x.IsMark);
            },

            markPaper() {
                var ids = [];
                this.tableData.filter(v => {
                    if (v.checked) {
                        ids.push(v.Id);
                    }
                });

                if (ids.length == 0 || ids.length > 1) {
                    alert('@ShareLocalizer["Please select one record"]');
                    return;
                }

                _fetch(`/Examination/GetPaperAndAnswer?userExamId=${ids[0]}`, "GET").then(res => {
                    if (res.Status = true) {
                        this.model = res.Data;
                        this.$refs.markWin.show();
                    }
                    else {
                        alert('@ShareLocalizer["An unexpected error has occurred, please try again."]');
                    }
                });
            },

            pageChange() {
                this.getData();
            },

            mark(item, isCorrect) {
                item.IsCorrect = isCorrect;
                if (isCorrect) {
                    item.Score = item.Question.Score;
                }
                else {
                     item.Score = 0;
                }
                item.IsMark = true;
            }
        }
    });
</script>

