
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ShareResources> ShareLocalizer

@{
    ViewData["Title"] = ShareLocalizer["Preview"];
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}

<div class="container" id="app">
    <div class="col-md-12">
        <div class="panel panel-default">
            <h2 class="text-center">{{model.Examination.Title}}</h2>
            <hr />
            <div class="panel-body title-box">
                <div class="col-md-3">
                    @ShareLocalizer["Subject"]：{{model.Examination.Subject}}
                </div>
                <div class="col-md-3">
                    @ShareLocalizer["Examination Time"]: {{model.Examination.Time}} mins
                </div>
                <div class="col-md-3">
                    @ShareLocalizer["Total Score"]: {{model.Examination.Score}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default space"
             v-if="model.ChioceQuestions && model.ChioceQuestions.length > 0">
            <div class="panel-heading">
                <h3 class="panel-title">@ShareLocalizer["Choice"]</h3>
            </div>
            <div class="panel-body">
                <ol>
                    <li v-for="item in model.ChioceQuestions">
                        <p class="question-content"
                           v-html="item.Content + ' <b>' + (item.IsMultiple ? ' (@ShareLocalizer["MultipleChoice"]) ' : '') + '</b> <span>(' + item.Score +'@ShareLocalizer["Points"])</span>'"></p>
                        <div class="inline-box">
                            <input type="checkbox" name="choice-1" value="A" v-model="item.Answer">
                            A. <span v-html="item.OptionA"></span>
                        </div>
                        <div class="inline-box">
                            <input type="checkbox" name="choice-2" value="B" v-model="item.Answer">
                            B. <span v-html="item.OptionB"></span>
                        </div>
                        <div class="inline-box">
                            <input type="checkbox" name="choice-3" value="C" v-model="item.Answer">
                            C. <span v-html="item.OptionC"></span>
                        </div>
                        <div class="inline-box">
                            <input type="checkbox" name="choice-4" value="D" v-model="item.Answer">
                            D. <span v-html="item.OptionD"></span>
                        </div>
                    </li>
                </ol>
            </div>
        </div>

        <div class="panel panel-default space"
             v-if="model.JudgmentQuestions && model.JudgmentQuestions.length > 0">
            <div class="panel-heading">
                <h3 class="panel-title">@ShareLocalizer["Judgment"]</h3>
            </div>
            <div class="panel-body">
                <ol>
                    <li v-for="item in model.JudgmentQuestions">
                        <div class="inline-box">
                            <p class="question-content" v-html="item.Content + ' <span>(' + item.Score +'@ShareLocalizer["Points"])</span>'"></p>
                            <input style="margin-left: 50px" type="radio" name="judgment-1" value="对" v-model="item.Answer">
                            <span class="glyphicon glyphicon-ok" style="color: green"></span>
                            <input style="margin-left: 15px" type="radio" name="judgment-1" value="错" v-model="item.Answer">
                            <span class="glyphicon glyphicon-remove" style="color: red"></span>
                        </div>
                    </li>
                </ol>
            </div>
        </div>

        <div class="panel panel-default space"
             v-if="model.FillQuestions && model.FillQuestions.length > 0">
            <div class="panel-heading">
                <h3 class="panel-title">@ShareLocalizer["Fill"]</h3>
            </div>
            <div class="panel-body">
                <ol>
                    <li v-for="item in model.FillQuestions">
                        <p class="question-content" v-html="item.Content + ' <span>(' + item.Score +'@ShareLocalizer["Points"])</span>'"></p>

                        <input type="text" class="form-control" style="width: 50%; display: inline-block"
                               v-model="item.Answer" />
                        @ShareLocalizer["Answer Note"]
                    </li>
                </ol>
            </div>
        </div>

        <div class="panel panel-default space"
             v-if="model.SubjectiveQuestions && model.SubjectiveQuestions.length > 0">
            <div class="panel-heading">
                <h3 class="panel-title">@ShareLocalizer["Q&A"]</h3>
            </div>
            <div class="panel-body">
                <ol>
                    <li v-for="item in model.SubjectiveQuestions">
                        <p class="question-content" v-html="item.Content + ' <span>(' + item.Score +'@ShareLocalizer["Points"])</span>'"></p>
                        <textarea rows="8" name="answer-1" class="form-control" v-model="item.Answer"></textarea>
                    </li>
                </ol>
            </div>
        </div>

        <div class="panel panel-default space print-hiddle">
            <div class="panel-body text-center">
                <button class="btn btn-success" style="width: 150px" @@click="printPaper()">@ShareLocalizer["Print Papger"]</button>
            </div>
        </div>
    </div>
</div>

<script>
var app = new Vue({
    el: "#app",
    data: {
        model: {
            Examination: {}
        },
    },
    mounted() {
        this.getData();
    },
    computed: {
    },
    methods: {
        getData() {
            _fetch("/Client/GetExamination?id=@ViewBag.Id", "GET").then(res => {
                if (res.Status = true) {
                    res.Data.ChioceQuestions.filter(x => x.Answer = []);
                    this.model = res.Data
                }
                else {
                    alert('@ShareLocalizer["An unexpected error has occurred, please try again."]');
                }
            });
        },

        printPaper() {
            window.print();
        }
    }
});
</script>


