@using Microsoft.Extensions.Localization
@using System.Security.Claims
@inject IStringLocalizer<ShareResources> ShareLocalizer

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close">
        <i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <h1 style="font-size: 2em; color: white; text-align: center">@ShareLocalizer["Online Examination"]</h1>
                </div>
                <div class="logo-element">
                </div>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">@ShareLocalizer["Questions Management"]</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    @if (User.Claims.FirstOrDefault(o => o.Type == ClaimTypes.Role)?.Value == "1")
                    {
                        <li>
                            <a class="J_menuItem" href="/Admin/Subject" data-index="1">
                                @ShareLocalizer["Subject List"]
                            </a>
                        </li>
                    }
                    <li>
                        <a class="J_menuItem" href="/Question/Index" data-index="2">
                            @ShareLocalizer["Question List"]
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-paperclip"></i>
                    <span class="nav-label">@ShareLocalizer["Examination Management"]</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    @if (User.Claims.FirstOrDefault(o => o.Type == ClaimTypes.Role)?.Value == "1")
                    {
                        <li>
                            <a class="J_menuItem" href="/Admin/ExaminationRule" data-index="3">
                                @ShareLocalizer["Paper Rules"]
                            </a>
                        </li>
                    }
                    <li>
                        <a class="J_menuItem" href="/Examination/PaperList" data-index="4">
                            @ShareLocalizer["Paper List"]
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/Examination/MarkPaper" data-index="5">
                            @ShareLocalizer["Mark Paper"]
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-trophy"></i>
                    <span class="nav-label">@ShareLocalizer["Achievement Management"]</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="/Achievement/Index" data-index="6">
                            @ShareLocalizer["Statistics"]
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/Achievement/UserAchievement" data-index="7">
                            @ShareLocalizer["User Achievement"]
                        </a>
                    </li>
                </ul>
            </li>
            @if (User.Claims.FirstOrDefault(o => o.Type == ClaimTypes.Role)?.Value == "1")
            {
            <li>
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span class="nav-label">@ShareLocalizer["User Management"]</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="/Admin/Users" data-index="8">
                            @ShareLocalizer["User List"]
                        </a>
                    </li>
                </ul>
            </li>
            }
        </ul>
    </div>
    <div class="sidebar-footer">
        <a id="btnChangeMenu"><span class="fa fa-reorder"></span></a>
    </div>
</nav>
