@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<ShareResources> ShareLocalizer

@{
    ViewData["Title"] = "Rule List";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}

<style>
    .esf-window .esf-window-container .esf-window-header {
        background: #2A3F54;
    }
</style>

<div class="wrapper wrapper-content" id="app">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>@ShareLocalizer["Paper Rules"]</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="form-group">
                <input type="text" class="form-control input-sm"
                       style="width: 20%; display: inline-block" v-model="keyword" />
                <button type="button" class="btn btn-default " @@click="getData()">
                    <i class="fa fa-search"></i>&nbsp;@ShareLocalizer["Search"]
                </button>

                <button type="button" class="btn btn-primary " @@click="addSubject()">
                    <i class="fa fa-plus"></i>&nbsp;@ShareLocalizer["Add"]
                </button>
                <button type="button" class="btn btn-info" @@click="editSubject()">
                    <i class="fa fa-pencil"></i> @ShareLocalizer["Edit"]
                </button>
                <button type="button" class="btn btn-danger" @@click="deleteSubject()">
                    <i class="fa fa-remove"></i>&nbsp;&nbsp;<span class="bold">@ShareLocalizer["Delete"]</span>
                </button>
            </div>

            <div class="jqGrid_wrapper">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@ShareLocalizer["No"]</th>
                            <th>@ShareLocalizer["Title"]</th>
                            <th>@ShareLocalizer["Subject"]</th>
                            <th>@ShareLocalizer["Examination Time"]</th>
                            <th>@ShareLocalizer["Score"]</th>
                            <th>@ShareLocalizer["Choice Count"]</th>
                            <th>@ShareLocalizer["Fill Count"]</th>
                            <th>@ShareLocalizer["Judgment Count"]</th>
                            <th>@ShareLocalizer["Q&A Count"]</th>
                            <th>@ShareLocalizer["Update Time"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, i) in tableData">
                            <td><input type="checkbox" v-model="item.checked" /></td>
                            <td>{{(pagerOpt.page - 1) * pagerOpt.pageSize + i + 1}}</td>
                            <td>{{item.Title}}</td>
                            <td>{{item.Subject}}</td>
                            <td>{{item.Time}} mins</td>
                            <td>{{item.Score}}</td>
                            <td>{{item.ChoiceCount}}</td>
                            <td>{{item.FillCount}}</td>
                            <td>{{item.JudgmentCount}}</td>
                            <td>{{item.SubjectiveCount}}</td>
                            <td>{{item.UpdateTime | dateFormat}}</td>
                        </tr>
                    </tbody>
                </table>

                <pagination v-model="pagerOpt.page" :total="pagerOpt.total" :page-size="pagerOpt.pageSize" @@input="pageChange()"></pagination>
            </div>

            <window-modal ref="addWin" :width="'600'">
                <template slot="header">
                    {{editType}}@ShareLocalizer["Paper Rules"]
                </template>
                <template slot="body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@ShareLocalizer["Title"]:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control input-sm" v-model="model.Title" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@ShareLocalizer["Subject"]:</label>
                            <div class="col-sm-5">
                                <select class="form-control input-sm" v-model="model.SubjectId">
                                    <option v-for="x in subjects" :value="x.Id">{{x.Title}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@ShareLocalizer["Score"]:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control input-sm" v-model="model.Score" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@ShareLocalizer["Examination Time"]:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control input-sm" v-model="model.Time" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@ShareLocalizer["Choice Count"]:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control input-sm" v-model="model.ChoiceCount" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@ShareLocalizer["Fill Count"]:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control input-sm" v-model="model.FillCount" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@ShareLocalizer["Judgment Count"]:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control input-sm" v-model="model.JudgmentCount" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@ShareLocalizer["Q&A Count"]:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control input-sm" v-model="model.SubjectiveCount" />
                            </div>
                        </div>
                    </div>
                </template>
                <template slot="footer">
                    <button class="btn btn-success" @@click="submitRule()">@ShareLocalizer["Submit"]</button>
                    <button class="btn btn-default" @@click="closeWin()">@ShareLocalizer["Cancel"]</button>
                </template>
            </window-modal>
        </div>
    </div>
</div>

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            tableData: [],
            subjects: [],

            pagerOpt: {
                pageSize: 10,
                page: 1,
                total: 0,
            },

            model: {
                Id: 0,
                SubjectId: 0
            },

            keyword: "",

            editType: '@ShareLocalizer["Add"]',
            backup: ""
        },
        mounted() {
            this.getData();
            this.getSubjects();
        },
        methods: {
            getData() {
                var params = `PageNo=${this.pagerOpt.page}&PageSize=${this.pagerOpt.pageSize}&Keyword=${this.keyword}`
                _fetch("/Admin/GetExaminationRules?" + params, "GET").then(res => {
                    if (res.Status = true) {

                        res.Data.Result.filter(x => {
                            x.checked = false;
                            x.isEdit = false;
                        });
                        this.tableData = res.Data.Result;
                        this.pagerOpt.total = res.Data.Total;
                    }
                    else {
                        alert('@ShareLocalizer["An unexpected error has occurred, please try again."]');
                    }
                });
            },

            getSubjects() {
                _fetch("/Admin/GetSubjects", "GET").then(res => {
                    if (res.Status = true) {
                        this.subjects = res.Data.Result;
                    }
                    else {
                        alert('@ShareLocalizer["An unexpected error has occurred, please try again."]');
                    }
                });
            },

            addSubject() {
                this.editType = "@ShareLocalizer["Add"]";
                this.$refs.addWin.show();
            },

            closeWin() {
                this.model = {
                    Id: 0,
                    SubjectId: 0
                };

                this.$refs.addWin.close();
            },

            submitRule() {
                if (!this.validData()) {
                    alert('@ShareLocalizer["Fields Required"]')
                    return;
                }

                _fetch(`/Admin/AddExaminationRule`, "POST", this.model).then(res => {
                    if (res.Status = true) {
                        alert('@ShareLocalizer["Submit Success"]');
                        this.closeWin();
                        this.getData();
                    }
                    else {
                       alert('@ShareLocalizer["An unexpected error has occurred, please try again."]');
                    }
                });
            },

            validData() {
                return this.model.Title && this.model.SubjectId && this.model.Score &&
                    this.model.Time;
            },

            editSubject() {
                var ids = [];
                this.tableData.filter(v => {
                    if (v.checked) {
                        ids.push(v.Id);
                    }
                });

                if (ids.length == 0 || ids.length > 1) {
                    alert('@ShareLocalizer["Please select one record"]');
                    return;
                }

                var item = this.tableData.find(x => x.Id == ids[0]);
                this.editType = '@ShareLocalizer["Edit"]';

                this.model = $.extend(true, {}, item);
                this.$refs.addWin.show();
            },

            deleteSubject() {
                var ids = [];
                this.tableData.forEach(function (v) {
                    if (v.checked) {
                        ids.push(v.Id);
                    }
                });
                if (ids.length == 0) {
                    alert('@ShareLocalizer["Please select one record"]');
                    return;
                }

                _fetch(`/Admin/DeleteExaminationRule?id=${ids[0]}`, "DELETE").then(res => {
                    if (res.Status = true) {
                        alert('@ShareLocalizer["Submit Success"]');
                        this.getData();
                    }
                    else {
                       alert('@ShareLocalizer["An unexpected error has occurred, please try again."]');
                    }
                });
            },

            pageChange() {
                this.getData();
            }
        }
    });
</script>

