@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ShareResources> ShareLocalizer

@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ShareLocalizer["Register"]</title>
    <link rel='stylesheet' id='font-awesome-fa-css' href='~/css/font-awesome.css' type='text/css' media='all' />
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <script src="~/js/base.js"></script>
    <script src="~/js/vue.js"></script>
</head>

<style type="text/css">
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Roboto !important;
    }

    #wrap {
        min-height: 100vh;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/login-bg.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        background-color: #eee;
        position: relative;
    }

    .container {
        padding: 0;
    }

    .logGet {
        width: 468px;
        background-color: rgba(0,0,0,0.5);
        margin: auto auto;
    }

    .logC input {
        width: 100%;
        height: 45px;
        background-color: #ee7700;
        border: none;
        color: white;
        font-size: 18px;
    }

        .logC input:hover {
            width: 100%;
            height: 45px;
            background-color: #ff5f12;
            border: none;
            color: white;
            font-size: 18px;
        }


    .logGet .logD.logDtip .p1 {
        display: inline-block;
        font-size: 28px;
        margin-top: 10px;
        width: 86%;
    }

    .logGet .logD.logDtip {
        width: 86%;
        border-bottom: 1px solid #ee7700;
        margin-bottom: 20px;
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
    }

    .logGet .logC {
        width: 86%;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }

    #head {
        padding-top: 20px;
        height: 90px;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        text-align: center;
    }

    .title {
        color: #FFFFFF;
        font-size: 36px;
        height: 40px;
    }

    .slogan {
        height: 100%;
        color: #f9f9f9;
        font-size: 42px;
        font-family: "Open Sans";
        font-weight: 700;
        line-height: 70px;
    }

    .login-box {
        border-radius: 0 !important;
    }


    @@media screen and (min-width: 1280px) {
        .login-container {
            padding-top: 20px;
        }

        .slogan {
            padding-top: 100px;
        }
    }

    @@media screen and (min-width: 769px) and (max-width: 1280px) {
        .login-container {
            padding-top: 50px;
        }

        .slogan {
            padding: 20px 0 0 50px;
            font-size: 36px;
        }
    }

    @@media screen and (max-width: 768px) {
        .login-container {
            padding-top: 50px;
        }

        .slogan {
            padding: 50px 0 20px 100px;
            font-size: 36px;
        }
    }

    @@media screen and (max-width: 600px) {
        .login-container {
            padding-top: 50px;
        }

        .slogan {
            font-size: 22px;
            line-height: 50px;
            padding: 0;
        }
    }

    .register {
        padding: 10px 10px;
        text-align: center;
        color: #fff !important;
    }

    .input-group-addon {
        min-width:  160px;
    }
</style>

<body>
    <div id="wrap">
        <div class="header" id="head">
            <div class="title">
                @ShareLocalizer["Online Examination System"]
            </div>
        </div>

        <div class="container">
            <div class="row" style="min-height: 80vh">
                <div class="login-container">
                    <div class="logGet">
                        <!-- 头部提示信息 -->
                        <div class="logD logDtip" style="color: #f9f9f9">
                            <p class="p1">@ShareLocalizer["Register"]</p>
                        </div>

                        <div style="width: 468px; padding:0 26px 30px 26px;border-radius: 0 !important;">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon login-box">
                                    @ShareLocalizer["User Name"]
                                </span>
                                <input class="form-control login-box" placeholder="@ShareLocalizer["User Name"]" autofocus v-model="userName">
                            </div>
                            <div class="input-group input-group-lg" style="margin-top: 10px">
                                <span class="input-group-addon login-box">
                                    @ShareLocalizer["Role"]
                                </span>
                                <select class="form-control login-box"  v-model="roleId">
                                    <option value="2">@ShareLocalizer["Teacher"]</option>
                                    <option value="3">@ShareLocalizer["User"]</option>
                                </select>
                            </div>
                            <div class="input-group input-group-lg" style="margin-top: 10px">
                                <span class="input-group-addon login-box">
                                    @ShareLocalizer["Employee No"]
                                </span>
                                <input class="form-control login-box"
                                       v-model="employeeNo" placeholder="@ShareLocalizer["Employee No"]">
                            </div>
                            <div class="input-group input-group-lg" style="margin-top: 10px">
                                <span class="input-group-addon login-box">
                                    @ShareLocalizer["Password"]
                                </span>
                                <input type="password" class="form-control login-box"
                                       v-model="password" placeholder="@ShareLocalizer["Password"]">
                            </div>
                            <div class="input-group input-group-lg" style="margin-top: 10px">
                                <span class="input-group-addon login-box">
                                    @ShareLocalizer["Production Line"]
                                </span>
                                <input class="form-control login-box"
                                       v-model="productionLine" placeholder="@ShareLocalizer["Production Line"]">
                            </div>
                            <div class="input-group input-group-lg" style="margin-top: 10px">
                                <span class="input-group-addon login-box">
                                    @ShareLocalizer["Station"]
                                </span>
                                <input class="form-control login-box"
                                       v-model="station" placeholder="@ShareLocalizer["Station"]">
                            </div>
                            <div class="input-group input-group-lg" style="margin-top: 10px">
                                <span class="input-group-addon login-box">
                                    @ShareLocalizer["OJT No"]
                                </span>
                                <input class="form-control login-box"
                                       v-model="OJTNo" placeholder="@ShareLocalizer["OJT No"]">
                            </div>
                        </div>


                        <div class="logC">
                            <input type="button" value="@ShareLocalizer["Register"]" @@click="login()" />
                        </div>

                        <div class="register"><a href="/Home/Login" style="color: #fff">@ShareLocalizer["Login"]</a></div>
                    </div>
                </div>
            </div>
        </div>

        @await Html.PartialAsync("_Partial_Language")
    </div>

    <script>
        var app = new Vue({
            el: "#wrap",
            data: {
                userName: '',
                password: '',
                employeeNo: '',
                productionLine: '',
                station: '',
                OJTNo: '',
                roleId: 0,
            },
            methods: {
                login() {

                    if (!this.userName || !this.password || !this.employeeNo || !this.productionLine
                        || !this.station || !this.OJTNo || !this.roleId) {
                         alert('@ShareLocalizer["Fields Required"]')
                        return;
                    }

                    let model = {
                        Name: this.userName,
                        RoleId: this.roleId,
                        EmployeeNo: this.employeeNo,
                        Password: this.password,
                        ProductionLine: this.productionLine,
                        Station: this.station,
                        OJTNo: this.OJTNo
                    };

                    _fetch("/Home/Register", "POST", model).then(res => {
                        if (res.result == true) {
                             alert('@ShareLocalizer["Submit Success"]');
                            location.href = "/Home/Login";
                        }
                        else {
                            alert('@ShareLocalizer["An unexpected error has occurred, please try again."]');
                        }
                    });
                }
            }
        });
    </script>
</body>
</html>
